.tb+div{
	width:100%;
}
.tb+div>ul{
	width:80%;margin: 0 auto;

}
.tb+div>ul>li img{
	width: 35px
}
.tb+div>ul>li a{
	color:#3B3B3B 
}

.tb+div>ul>li a .yh{
	position:absolute;
	top:55px;
	left:80px;
	float: left
}

.tb+div>ul>li a .yh img{
	position: relative;
	top:-30px;
	left:50px;
	width: 20px
}

.tb+div>ul>li a .yh p{
	font-size: 0.6rem
}
.tb+div .two li{
	font-size:1.2rem;
	margin-top: 5px
}

.tb+div .two li ul li{
	float: left;
	font-size: 0.8rem;margin:10px 5px
}

.tb+div .three{
	overflow: hidden;

}

.tb+div .three{
	width: 100%;
	margin-top:60px;
}

.tb+div .three li a{
    display: block;
    width: 100%;height:35px;
    line-height:35px;
    padding-left:10%
}

.tb+div .three li a img{
	width: 20px;
	position: relative;
	top: 5px;
	left: 2px
}
.tb+div .three li:nth-child(4){
	width: 100%;height:35px;
	 padding-left:10%
}
.tb+div .three li a:hover{
	background: #ccc
}



















